# Visual Studio / .NET Core
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db
